header{
    margin-bottom: 10vh;
}

html{
    scroll-behavior: smooth;
}

#cabecera{
    background: linear-gradient(135deg, rgba(35,253,236,1) 0%, rgba(131,88,253,1) 50%, rgba(240,52,175,1) 100%);
    height: 10vh;
    margin-right: 0%;
    margin-bottom: 0;
    padding-right: 0%;
    position: sticky;
    top: 6px;
}

nav{
    margin: 1rem;
    padding:4rem;
    padding-left: 2%;
    text-align: left;
    position: fixed;
    top: 80px;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    
}

.contenedora{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 30%;
    width: 100vw;
    padding: 0%;
    padding-left: 3%;
    scroll-margin-top: 8ex;
}

h2{
    padding-top: 12%;
}

footer{
    margin-top: 0%;
    padding-top: 5vh;
}

/*.hobby{
    padding-bottom: 0%;
    margin-bottom: -35%;
    height: 60vh;
}*/

@media screen and (max-width:1100px) {
nav {
    width: 30vw;
}

.contenedora{
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    margin-left: 50%;
    width: 45vw;
    padding: 0%;
    scroll-margin-top: 8ex;
}

}


@media screen and (max-width:800px) {
   nav{
    width: 30vw;
   }

   .contenedora{
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    margin-left: 40%;
    width: 50vw;
    padding: 0%;
    scroll-margin-top: 8ex;
}
}

@media screen and (max-width:500px) {
    *{
        padding: 0;
        margin: 0;
    }
    
    header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #cabecera{
        height: 6vh;
    }

    h1{
        font-size: xx-large;
        text-align: end;
    }

    .logo_rc {
        width: 10%;
        height: auto;
    }

    .btn_menu{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 999;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        opacity: 0;
    }

    .btn_inicio{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 998;
    width: 3rem;
    height: 0.6rem;
    background-color: red;
    border-radius: .3rem;
    transform: rotate(0deg) translate(0, -1.2rem);
    transform-origin: top left;
    transition: transform 0.5s ease , background-color 500ms ease;
    }


.btn_inicio::before,
.btn_inicio::after{
    content: "";
    display: block;
    width: 100%;
    height: .6rem;
    background-color: red;
    border-radius: 0.3rem;
    transition: transform 500ms ease;

}

.btn_inicio::before{
    transform: rotate(0deg) translate(0, -.9rem);
}

.btn_inicio::after{
    transform: rotate(0deg) translate(0, .3rem);
}

.btn_menu:checked + .btn_inicio{
background-color:transparent ;
}

.btn_menu:checked + .btn_inicio::before{
    transform:rotate(45deg) translate(0,0);
} 

.btn_menu:checked + .btn_inicio::after{
    transform:rotate(-45deg) translate(.4rem, -.5rem);
} 

.btn_inicio_menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(35,253,236,1) 0%, rgba(131,88,253,1) 50%, rgba(240,52,175,1) 100%);
    width: 100%;
    height: 100vh;
    z-index: 997;
    transition: transform 500ms ease-in-out;
    transform: translate(0, -100%);
}

.btn_menu:checked ~ .btn_inicio_menu{
    transform: translate(0,0);
}

/*.menu_inicio_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.menu_inicio_link{
    /*padding: 2rem;*/
    background: color #d005; 
    transition: background-color 300ms ease;
}

.contenedora{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 12%;
    margin-left: 12%;
    width: 100vw;
    padding: 0%;
    scroll-margin-top: 8ex;
}
}
